<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>CoopIntLoginWeb</display-name>
	<filter>
		<display-name>PostLoginFilter</display-name>
		<filter-name>PostLoginFilter</filter-name>
		<filter-class>it.finanze.security.filters.PostLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PostLoginFilter</filter-name>
		<url-pattern>/j_security_check</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
        	<param-name>chainConfig</param-name>
        	<param-value>org/apache/struts/tiles/chain-config.xml</param-value>
    	</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/Aut.do</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>AnagInfoSecurityConstr</display-name>
		<web-resource-collection>
			<web-resource-name>AnagInfoSecurityConstr</web-resource-name>
			<description></description>
			<url-pattern>/Aut.do</url-pattern>
			<url-pattern>/common/*</url-pattern>
			<url-pattern>/home.jsp</url-pattern>
			<url-pattern>/SideMenu.do</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>AnagInfoSecurityRole</description>
			<role-name>EntrateRole</role-name>
		</auth-constraint>
	</security-constraint>
    <login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
    		<form-login-page>/login.jsp</form-login-page>
    		<form-error-page>/loginError.jsp</form-error-page>
    	</form-login-config>
    </login-config>
    <security-role>
    	<role-name>EntrateRole</role-name>
    </security-role>

    <env-entry>
    	<env-entry-name>configFilePath</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>/prod/installedApps/coopintLogin/auth/</env-entry-value>
    </env-entry>
    <env-entry>
    	<env-entry-name>fileProperties</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>/prod/installedApps/coopintLogin/</env-entry-value>
    </env-entry>
    <env-entry>
    	<env-entry-name>certFilePath</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>/prod/installedApps/coopintLogin/</env-entry-value>
    </env-entry>
    <env-entry>
    	<env-entry-name>log4jPath</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>/prod/installedApps/coopintLogin/</env-entry-value>
    </env-entry>
	
</web-app>
